.App {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  font-family:
    'Circular',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #222222;
  background-color: #f7f7f7;
}
